
@{
    ViewBag.Title = "Lista de Receitas";
}
<header class="page-header">
    <h2>Receitas</h2>
</header>
<div class="row">
    

    <div class="col-md-12">
        <section class="panel" id="List">
            <header class="panel-heading">
                <div class="panel-actions">
                    <p>
                        <a href="#" id="Adicionar">Nova Receita</a>
                    </p>
                </div>

                <h2 class="panel-title">Lista de Receitas</h2>
            </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.TextBox("Categoria", null, new { @id = "categoria", @name = "categoria", @class = "form-control ", placeholder = "Categoria" })
                </div>

                <div class="col-md-2 form-group">
                    @Html.TextBox("DataInicial", null, new { @id = "dataInicio", @name = "dataInicio", @class = "form-control data", placeholder = "Data Inicial" })
                </div>


                <div class="col-md-2 form-group">
                    @Html.TextBox("DataFinal", null, new { @id = "dataFinal", @name = "dataFinal", @class = "form-control data", placeholder = "Data Final" })
                </div>

                <div class="col-md-2 form-group">
                    <input data-bind="click: $root.filtrar" value="Filtrar" class="btn btn-twitter" style="width: 100px;" />
                </div>

            </div>
                <div class="table-responsive">
                    <table class="table mb-none" data-bind="visible: Receitas().length > 0">
                        <thead>
                            <tr>
                                <th>Observacao</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Data Cadastro</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Receitas">
                            <tr>
                                <td data-bind="text: Observacao"></td>
                                <td data-bind="text: Categoria"></td>
                                <td data-bind="text: formatCurrency(Valor)"></td>
                                <td data-bind="text: moment(DataCadastro).format('DD/MM/YYYY')"></td>
                                <td>
                                    <a href="#" data-bind="click: $root.edit">
                                        <i class="fa fa-pencil"></i>
                                    </a> |
                                    <a href="#" data-bind="click: $root.delete">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        
        
        <section class="panel" id="Create" data-bind="ifnot: Receita()" style="display: none" >
            <header class="panel-heading">
                <h2 class="panel-title">Nova Receita</h2>
            </header>

            <div class="panel-body">
                <input data-bind="value: $root.TipoOperacao, visible: false" value="1" type="text" title="TipoOperacao" />
                
                <div class="form-group">
                    <label for="Observacao" class="control-label col-md-2">Observacao</label>
                    <div class="col-md-10">
                        <input data-bind="value: $root.Observacao" type="text" title="Observacao" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Categoria" class="control-label col-md-2">Categoria</label>
                    <div class="col-md-10">
                        <input data-bind="value: $root.Categoria" type="text" title="Categoria" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Valor" class="control-label col-md-2">Valor</label>
                    <div class="col-md-10">
                        <input data-bind="value: $root.Valor" type="text" title="Valor" class="form-control" />
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input data-bind="click: $root.create" value="Salvar" class="btn btn-default" />
                        <input data-bind="click: $root.reset" id="Cancelar" value="Cancelar" class="btn btn-default" />
                    </div>

                </div>

            </div>
        </section>
        
        
        <section class="panel" id="Update" data-bind="if: Receita" style="display:none;">

                <header class="panel-heading">
                    <h2 class="panel-title">Editar Receita</h2>
                </header>

                <div class="panel-body">
                    <input data-bind="text: Receita().OperacaoId, visible: false" type="text" title="OperacaoId" />
                    <input data-bind="value: Receita().TipoOperacao, visible: false" value="1" type="text" title="TipoOperacao" />

                    <div class="form-group">
                        <label for="Observacao" class="control-label col-md-2">Observacao</label>
                        <div class="col-md-10">
                            <input data-bind="value: Receita().Observacao" type="text" title="Observacao" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Categoria" class="control-label col-md-2">Categoria</label>
                        <div class="col-md-10">
                            <input data-bind="value: Receita().Categoria" type="text" title="Categoria" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Valor" class="control-label col-md-2">Valor</label>
                        <div class="col-md-10">
                            <input data-bind="value: Receita().Valor" type="text" title="Valor" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input data-bind="click: $root.update" value="Editar" class="btn btn-default" />
                            <input data-bind="click: $root.reset" id="Cancelar" value="Cancelar" class="btn btn-default" />
                        </div>

                    </div>

                </div>
            </section>
        
        

    </div>
    
</div>

@section Scripts {

    @Scripts.Render("~/knockout/receitas")
}











